<div class="span10 offset1">

  <h3 class="intro">
    Found
    <a href="http://www.novaplanet.com/">
      Nova Radio
    </a>
    tracks on
    <a href="http://www.spotify.com/">
      Spotify
    </a>
  </h3>

  <%= form_for(Radio.new, :html => {:class => 'form-inline datepair'}) do %>
    <%= text_field_tag(:date, nil, :class => "date start", :placeholder => "Date") %>
    <%= text_field_tag(:time, nil, :class => "time start", :placeholder => "Time") %>
    <%= submit_tag("Search", :class => "btn search") %>
  <% end %>

  <% if !@radios.blank? %>

    <table class="table table-striped">

      <thead>
        <tr>
          <th>Name</th>
          <th>Starting Time</th>
          <th>Ending Time</th>
        </tr>
      </thead>

      <tbody>
        <% @radios.each do |radio|%>
          <tr>
            <td><%= link_to radio.name , radio %></td>
            <td>
               <% if radio.started_at %>
                 <%= l radio.started_at, format: :short %>
               <% else %>
                 No Start Time
               <% end %>
             </td>
            <td>
              <% if radio.ended_at %>
                <%= l radio.ended_at, format: :short %>
              <% else %>
                No End Time
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>

  <% else %>
    No Playlist yet.
  <% end %>
</div>